node_modules/
package-lock.json
note.md
c-97d8b1a-kustomization/
*/kustomization.yaml
broker/dbschema.js
broker/testDbSchema.js
broker/k8s.js

.DS_Store
node_modules
/dist

code/ui/resources

# env file for cluster c-97d8b1a
code/c-97d8b1a-easyfranchisedev
code/.env-dev-c-97d8b1a
code/.env
code/.env-dev
# local env files
.env.local
.env.*.local
**/default-env.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
