/**
 * SAP Layout + Custom CSS
 */
 .longText{
	font-size: 0.6em;
 }
 .mb-40{
	 margin-bottom: 40px !important;
 }
 .mb-80{
	margin-bottom: 80px !important;
}
.leftAlign{
	text-align: left;
}
.rightAlign{
	text-align: right;
}
.whiteFont{
	color: #fff !important;
}
.whiteH1{
	color: #fff !important;
	text-shadow: 1px 1px 20px #717171 !important;
}
.special-01{
	color: #008fd3 !important;
}
.special-02{
	color: #f0ab00 !important;
}
.sectionTitle{
	font-size: 1.2em !important;
	text-transform: unset !important;
}
.link{
	background: url(../images/282532-info-icon-small.png) left center no-repeat;
	background-size: 15px;
	padding-left: 20px;
	font-size: 0.3em;
}
.slides{
	background-image: url(../images/sap-logo-white-bg.png);
	background-repeat: no-repeat;
	background-size: 200px;
	background-position: bottom right;
}
#home{
	margin-top: 10%;
	text-align: left;
}
#home h1{
	font-size: 1em;
	text-transform: unset;
}
#home h2{
	font-size: 0.6em;
	text-transform: unset;
}
#home h3{
	font-size: 0.4em;
	text-transform: unset;
}
.container30{
	float: left;
	width: 30%;
}
.container70{
	float: left;
	width: 70%;
}
.container30 li,
.container70 li{
	font-size: 0.4em;
	margin-bottom: 15px;
}
ol {
	list-style: none !important;
	counter-reset: item;
}
ol li {
	counter-increment: item;
}
ol li:before {
	margin-right: 10px;
	height: 21px;
	content: counter(item);
	background: #fec128;
	border-radius: 100%;
	color: white;
	width: 1.3em;
	text-align: center;
	display: inline-block;
}
 .noMargin{
	 margin-top: 0 !important;
	 margin-bottom: 0 !important;
 }
.reveal .subtitle{
	font-size: 16px;
}
.specialPosition{
	top: -200px;
	margin-left: -50%;
}